/* General CSS */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url(./img/jojobackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: scroll;
  overflow-x: hidden;
}

/* Landing Page CSS */
.spacingDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 1200px;
  height: 650px;
  object-fit: contain;
  margin-bottom: 80px;
}

@media (max-width: 400px) {
  .imgContainer {
    width: 300px;
    height: 170px;
    margin-bottom: 50px;
  }
}

.imgTagGroup {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.enterBtn {
  text-decoration: none;
  color: white;
  font-size: 48px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* General Page CSS */
.sizingDiv {
  width: 75%;
  margin: auto;
}

@media (max-width: 400px){
  .sizingDiv {
    width: 100%;
    margin: 0;
  }
}

.headerContainer {
  display: flex;
  width: 100%;
  height: 300px;
  border: 1px solid white;
  border-top: none;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./img/jojodioheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 400px) {
  .headerContainer {
    background-position: center;
  }
}

.headerText {
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (max-width: 400px) {
  .headerText {
    font-size: 22px;
    text-align: center;
  }
}

.headerTextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(240, 248, 255, 0.75);
  height: 55px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.textOneContainer {
  width: 925px;
}

@media (max-width: 400px){
  .textOneContainer {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.textOneText {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageOneContainer {
  height: 550px;
  width: 1000px;
}

@media (max-width: 400px) {
  .imageOneContainer {
    height: 175px;
    width: 300px;
  }
}

.imageOneImage {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.textTwoContainer {
  width: 1000px;
}

@media (max-width: 400px){
  .textTwoContainer {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.textTwoText {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageTwoContainer {
  height: 500px;
  width: 1000px;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  .imageTwoContainer {
    height: 175px;
    width: 300px;
  }
}

.imageTwoImage {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-bottom: none;
  width: 100%;
  height: 45px;
  background-color: rgb(40, 46, 67);
}

@media (max-width: 400px) {
  .footerDiv {
    border: none;
    border-top: 1px solid white;
  }
}


.footerText {
  color: #459b56;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

